<html ng-app="homegroupApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
		<script src="UI/libraries/jquery-2.1.1.min.js"></script>
		<script src="UI/scripts/index.controller.js"></script>
	</head>
	<body ng-controller="IndexController">
	
		Search: <input ng-model="query"></input>
		Sort by:
		<select ng-model="orderOptions">
			<option value="name">Name</option>
			<option value="age">Age</option>
		</select>
		<ul>
			<li ng-repeat="user in users | filter:query | orderBy:orderOptions">
				{{user.firstName}}
				<p>{{user.email}}</p>
				<p>{{user.age}}</p>
				<p>{{user.login}}</p>
			</li>
		</ul>
	
	</body>
</html>